/******** Seletor Universal ********/
/*
* {
    border: 1px solid red;
}*/

/******** Seletor de texto ********/
/*
h1 {
    color: green;
}*/

/******** Seletor De classe ********/
/*
.verde {
    color: green;
}*/

p.verde {
    color: green;
}

/******** Seletor De id ********/
/*
#cabecalho {
    border: 1px solid purple;
}*/

/******** Seletor De filho ********/
li>a {
    color: orange;
    text-decoration: none;
}

/******** Seletor De descendente ********/
li a {  /*seleciona links que estejam dentro de li*/
    color: green;
}

/******** Seletor De irmao adjacente ********/

h1+p {
    color: red;   /*formato o de baixo*/
} 


/******** Seletor De irmao geral ********/

h1~p {
    color: pink;
}

/****** heranca e especificidade ***/

* {
    border: 1px solid blueviolet;
    color: yellow;
}

body {
    color: blue;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    /*border: 3px solid red;*/
    
}

p {
    color: blue !important;
}

p {
    color: pink;
}

/* Se um seletor for mais especifico que outro a regra mais especifica sera aplicada */

h2 {
    color: darkblue;
}

h2.verde {
    color: green;
}